<!-- views/products.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <h1>Products</h1>
    <a href="/products/new">Add New Product</a> <!-- Link to the form -->
    <form id="searchForm">
        <input type="text" name="name" placeholder="Product Name">
        <input type="text" name="category" placeholder="Category">
        <input type="number" name="minPrice" placeholder="Min Price">
        <input type="number" name="maxPrice" placeholder="Max Price">
        <button type="submit">Search</button>
    </form>
    <ul id="productList">
        <% products.forEach(product => { %>
            <li><%= product.name %> - <%= product.price %> - <%= product.category %></li>
        <% }); %>
    </ul>
</body>
</html>
